<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head lang="en">
    <!--/*/ <th:block th:include="index :: head"></th:block> /*/-->
    <title>Cron Job Scheduler - Friendly UI</title>
    <!--/*/ <th:block th:include="index :: scripts"></th:block> /*/-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Cron Web Interface</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Cron Job Scheduler - Friendly UI</h3>
            <form method="POST">
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="script">Script to execute:</label><br/>
                        <textarea class="form-control" name="script" cols="60" rows="14"></textarea><br/>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>When to execute:</label>
                    <div class="radio">
                        <label><input type="radio" checked="checked" name="option"
                                      th:value="${T(com.skurski.cron.model.FriendlyOption).INTERVAL_HOURLY}"/>Every:</label>
                        <div class="form-group">
                            <select class="form-control" name="interval">
                                <option value="" th:disabled="disabled"
                                        th:selected="selected">Choose a time interval
                                </option>
                                <option th:each="state : ${T(com.skurski.cron.model.Interval).values()}"
                                        th:value="${state}"
                                        th:text="${state.desc}"/>
                            </select>
                        </div>

                        <label><input type="radio" name="option"
                                      th:value="${T(com.skurski.cron.model.FriendlyOption).HOUR_DAILY}"/>At specific
                            hour every:</label>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <div class='input-group date' id='hourpicker1'>
                                    <input type='text' class="form-control" name="hourDaily"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <select class="form-control" name="dayInterval">
                                    <option value="" th:disabled="disabled"
                                            th:selected="selected">Choose a day interval
                                    </option>
                                    <option th:each="state : ${T(com.skurski.cron.model.DayInterval).values()}"
                                            th:value="${state}"
                                            th:text="${state.desc}"/>
                                </select>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#hourpicker1').datetimepicker({
                                    format: 'HH:mm'
                                });
                            });
                        </script>

                        <div class="clearfix"></div>
                        <label><input type="radio" name="option"
                                      th:value="${T(com.skurski.cron.model.FriendlyOption).TIME_AND_DAY_WEEKLY}"/>At
                            specific
                            time and day every week:</label>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <div class='input-group date' id='hourpicker2'>
                                    <input type='text' class="form-control" name="hourWeekly"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <select class="form-control" name="dayOfWeek">
                                    <option value="" th:disabled="disabled"
                                            th:selected="selected">Choose a day
                                    </option>
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                    <option value="7">Sunday</option>
                                </select>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#hourpicker2').datetimepicker({
                                    format: 'HH:mm'
                                });
                            });
                        </script>

                        <div class="clearfix"></div>
                        <label><input type="radio" name="option"
                                      th:value="${T(com.skurski.cron.model.FriendlyOption).TIME_AND_DATE_MONTHLY}"/>At
                            specific
                            time and day every month:</label>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <div class='input-group date' id='hourpicker3'>
                                    <input type='text' class="form-control" name="hourMonthly"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <select class="form-control" name="dayOfMonth">
                                    <option value="" th:disabled="disabled"
                                            th:selected="selected">Choose day of month
                                    </option>
                                    <option th:each="n : ${#numbers.sequence(1,31)}" th:value="${n}" th:text="${n}"/>
                                </select>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#hourpicker3').datetimepicker({
                                    format: 'HH:mm'
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-success"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <footer th:replace="index :: footer"></footer>

</div> <!-- /container -->

</body>
</html>